@CHARSET "UTF-8";

.templateContainer {
	maigin:0;
	width:100%;
	border-width:1px;
	border-style:solid;
}

.test {
	border-style:solid;
	border-width:1px;
}

.bodyContainer {
	maigin:0 auto;
	width:1000px;
	height:800px;
}

.innerTemplate {
	width:100%;
	height:100%;
	margin:0;
}

.topbottom {
	width:100%;
}