<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bums.src.mapper.BaseMapper">
 
 	<insert id="insertUser" parameterType="com.bums.src.dto.UserDTO">
 		INSERT INTO user VALUES (#{id}, #{pw})
 	</insert>
</mapper>